/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 56, 118, 29;
  --matr-navbar-text-color: white;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
}

.navbar {
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background: url("images/landing-image.jpg") no-repeat center center fixed;
  background-size: cover;
}

  /* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

.bg-dark a.dropdown-item {
  color: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.btn-green{
  background-color: rgb(56, 118, 29) !important;
  color: white !important;
}

.spacer {
  margin-top: 400px !important;
}

.text-color {
  color: white !important;
}

.left-centered-column {
  text-align: left;
  padding-left: 450px !important;
}
